@import "_global.css";

.alerts {
  margin: 50px;
  font-family: "Monoton";
  text-transform: uppercase;
  font-size: 6em;
}

.letter {
	display: inline-block;
	min-width: 20px;
}

.sign {
  display: table;
  margin-left: calc(100% - 95%);
}

.sign.pink {
	color: var(--neonpink);
	text-shadow: 0 0 0.6rem var(--lightestneonpink), 0 0 1.5rem var(--lightneonpink),
		-0.2rem 0.1rem 1rem var(--lightneonpink), 0.2rem 0.1rem 1rem var(--lightneonpink),
		0 -0.5rem 2rem var(--darkneonpink), 0 0.5rem 3rem var(--neonpink);
	animation: shinepink 2s forwards, flicker 3s infinite;
	z-index: 50;
}
.sign.pink:not(:first-child) {
	margin-left: calc(100% - 90%);
	margin-top: -10px;
}

.sign.pink .flicker {
	animation: shinepink 5s forwards, blinkpink 1s 2s infinite;
}

.sign.pink .fast-flicker {
	animation: shinepink 1s forwards, blinkpink 10s 1s infinite;
}

.sign.pink .fast-flicker2 {
	animation: shinepink 2s forwards, blinkpink 7s 2s infinite;
}

.sign.pink .off {
	color: var(--darkestneonpink);
	text-shadow: none;
}

.sign.blue {
	color: var(--neonblue);
	text-shadow: 0 0 0.6rem var(--lightestneonblue), 0 0 1.5rem var(--lightneonblue),
		-0.2rem 0.1rem 1rem var(--lightneonblue), 0.2rem 0.1rem 1rem var(--lightneonblue),
		0 -0.5rem 2rem var(--darkneonblue), 0 0.5rem 3rem var(--neonblue);
	animation: shineblue 2s forwards, flicker 3s infinite;
	margin-top: -90px;
	margin-left: unset;
	z-index: 100;
	position: absolute;
}

.sign.blue.small {
	font-size: .5em;
	margin-left: 200px;
	margin-top: -60px;
	z-index: 200;
	animation: shinebluesmall 2s forwards, flicker 3s infinite;
	
	text-shadow: 0 0 0.15rem var(--lightestneonblue), 0 0 .75rem var(--lightneonblue),
	-0.2rem 0.1rem .25rem var(--lightneonblue), 0.2rem 0.1rem .25rem var(--lightneonblue),
	0 -0.5rem .5rem var(--darkneonblue), 0 0.5rem .75rem var(--neonblue);
}

.sign.blue .flicker {
	animation: shineblue 5s forwards, blinkblue 1s 2s infinite;
}

.sign.blue .fast-flicker {
	animation: shineblue 1s forwards, blinkblue 10s 1s infinite;
}

.sign.blue .fast-flicker2 {
	animation: shineblue 2s forwards, blinkblue 7s 2s infinite;
}

.sign.blue .off {
	color: var(--darkestneonblue);
	text-shadow: none;
}

.sign.red {
	color: var(--gift-red-bright);
	text-shadow: 0 0 0.6rem var(--gift-red-light), 0 0 1.5rem var(--gift-red),
		-0.2rem 0.1rem 1rem var(--gift-red), 0.2rem 0.1rem 1rem var(--gift-red),
		0 -0.5rem 2rem var(--gift-red-dark), 0 0.5rem 3rem var(--gift-red-bright);
	animation: shinered 2s forwards, flicker 3s infinite;
	z-index: 50;
}

.sign.red:not(:first-child) {
	margin-left: calc(100% - 90%);
	margin-top: -10px;
}

.sign.red .flicker {
	animation: shinered 5s forwards, blinkred 1s 2s infinite;
}

.sign.red .fast-flicker {
	animation: shinered 1s forwards, blinkred 10s 1s infinite;
}

.sign.red .fast-flicker2 {
	animation: shinered 2s forwards, blinkred 7s 2s infinite;
}

.sign.red .off {
	color: var(--gift-red-dark);
	text-shadow: none;
}

.sign.green {
	color: var(--gift-green-dark);
	text-shadow: 0 0 0.6rem var(--gift-green-light), 0 0 1.5rem var(--gift-green),
		-0.2rem 0.1rem 1rem var(--gift-green), 0.2rem 0.1rem 1rem var(--gift-green),
		0 -0.5rem 2rem var(--gift-green-darker), 0 0.5rem 3rem var(--gift-green-dark);
	animation: shinegreen 2s forwards, flicker 3s infinite;
	margin-top: -90px;
	margin-left: unset;
	z-index: 100;
	position: absolute;
}

.sign.green .flicker {
	animation: shinegreen 5s forwards, blinkgreen 1s 2s infinite;
}

.sign.green .fast-flicker {
	animation: shinegreen 1s forwards, blinkgreen 10s 1s infinite;
}

.sign.green .fast-flicker2 {
	animation: shinegreen 2s forwards, blinkgreen 7s 2s infinite;
}

.sign.green .off {
	color: var(--gift-green-darker);
	text-shadow: none;
}

.sign.fade-leave-active {
	animation: unset;
	transition: opacity 2s;
}

.sign.fade-leave-to {
	opacity: 0;
}

@keyframes blinkpink {
  0%,
  22%,
  36%,
  75% {
    color: var(--lightestneonpink);
    text-shadow: 0 0 0.6rem var(--lightestneonpink), 0 0 1.5rem var(--lightneonpink),
      -0.2rem 0.1rem 1rem var(--lightneonpink), 0.2rem 0.1rem 1rem var(--lightneonpink),
      0 -0.5rem 2rem var(--darkneonpink), 0 0.5rem 3rem var(--neonpink);
  }
  28%,
  33% {
    color: var(--lightneonpink);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--neonpink);
    text-shadow: none;
  }
}
@keyframes blinkblue {
  0%,
  22%,
  36%,
  75% {
    color: var(--lightestneonblue);
    text-shadow: 0 0 0.6rem var(--lightestneonblue), 0 0 1.5rem var(--lightneonblue),
      -0.2rem 0.1rem 1rem var(--lightneonblue), 0.2rem 0.1rem 1rem var(--lightneonblue),
      0 -0.5rem 2rem var(--darkneonblue), 0 0.5rem 3rem var(--neonblue);
  }
  28%,
  33% {
    color: var(--lightneonblue);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--neonblue);
    text-shadow: none;
  }
}

@keyframes blinkred {
  0%,
  22%,
  36%,
  75% {
    color: var(--gift-red-light);
    text-shadow: 0 0 0.6rem var(--gift-red-light), 0 0 1.5rem var(--gift-red),
      -0.2rem 0.1rem 1rem var(--gift-red), 0.2rem 0.1rem 1rem var(--gift-red),
      0 -0.5rem 2rem var(--gift-red-dark), 0 0.5rem 3rem var(--gift-red-bright);
  }
  28%,
  33% {
    color: var(--gift-red);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--gift-red-bright);
    text-shadow: none;
  }
}

@keyframes blinkgreen {
  0%,
  22%,
  36%,
  75% {
    color: var(--gift-green-light);
    text-shadow: 0 0 0.6rem var(--gift-green-light), 0 0 1.5rem var(--gift-green),
      -0.2rem 0.1rem 1rem var(--gift-green), 0.2rem 0.1rem 1rem var(--gift-green),
      0 -0.5rem 2rem var(--gift-green-darker), 0 0.5rem 3rem var(--gift-green-dark);
  }
  28%,
  33% {
    color: var(--gift-green);
    text-shadow: none;
  }
  82%,
  97% {
    color: var(--gift-green-dark);
    text-shadow: none;
  }
}

@keyframes shinepink {
  0% {
    color: var(--darkestneonpink);
    text-shadow: none;
  }
  100% {
    color: var(--lightestneonpink);
    text-shadow: 0 0 0.6rem var(--lightestneonpink), 0 0 1.5rem var(--neonpink),
      -0.2rem 0.1rem 1rem var(--lightneonpink), 0.2rem 0.1rem 1rem var(--lightneonpink),
      0 -0.5rem 2rem var(--neonpink), 0 0.5rem 3rem var(--neonpink);
  }
}

@keyframes shineblue {
  0% {
    color: var(--darkestneonblue);
    text-shadow: none;
  }
  100% {
    color: var(--lightestneonblue);
    text-shadow: 0 0 0.6rem var(--lightestneonblue), 0 0 1.5rem var(--lightneonblue),
      -0.2rem 0.1rem 1rem var(--lightneonblue), 0.2rem 0.1rem 1rem var(--lightneonblue),
      0 -0.5rem 2rem var(--neonblue), 0 0.5rem 3rem var(--neonblue);
  }
}

@keyframes shinered {
  0% {
    color: var(--gift-red-dark);
    text-shadow: none;
  }
  100% {
    color: var(--gift-red-light);
    text-shadow: 0 0 0.6rem var(--gift-red-light), 0 0 1.5rem var(--gift-red-bright),
      -0.2rem 0.1rem 1rem var(--lightneonpink), 0.2rem 0.1rem 1rem var(--gift-red),
      0 -0.5rem 2rem var(--gift-red-bright), 0 0.5rem 3rem var(--gift-red-bright);
  }
}

@keyframes shinegreen {
  0% {
    color: var(--gift-green-darker);
    text-shadow: none;
  }
  100% {
    color: var(--gift-green);
    text-shadow: 0 0 0.6rem var(--gift-green-darker), 0 0 1.5rem var(--gift-green-dark),
      -0.2rem 0.1rem 1rem var(--gift-green), 0.2rem 0.1rem 1rem var(--gift-green),
      0 -0.5rem 2rem var(--gift-green-dark), 0 0.5rem 3rem var(--gift-green-dark);
  }
}

@keyframes shinebluesmall {
  0% {
    color: var(--darkestneonblue);
    text-shadow: none;
  }
  100% {
    color: var(--lightestneonblue);
    text-shadow: 0 0 0.15rem var(--lightestneonblue), 0 0 .75rem var(--lightneonblue),
      -0.2rem 0.1rem .25rem var(--lightneonblue), 0.2rem 0.1rem .25rem var(--lightneonblue),
      0 -0.5rem .5rem var(--darkneonblue), 0 0.5rem .75rem var(--neonblue);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
